.app-header {
  height: 75px;
  display: flex;
  padding: 0 4vw;
  border-bottom: 1px solid #e5eff5;
  align-items: center;
  color: #738a94;
  background: hsla(0, 0%, 100%, 0.97);
}

.app-nav {
  display: flex;
  align-items: center;
}

.app-nav ul {
  display: flex;
}

.app-nav-link {
  list-style: none;
  margin: 0 1em;
  color: #738a94;
  font-weight: 500;
}

.app-name {
  font-weight: bold;
  font-size: 1.4em;
  padding: 10px 20px 10px 15px !important;
}
